@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('assets/lato-v16-latin-regular.woff2') format('woff2'),
    url('assets/lato-v16-latin-regular.woff') format('woff'),
}

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
    url('assets/lato-v16-latin-300.woff2') format('woff2'),
    url('assets/lato-v16-latin-300.woff') format('woff'),
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

body {
  margin-top: 0px;
}

/* portfolio about */

.portfolio {
  padding: 0 40px;
  background-color: #2d303a;
  box-shadow: 0 6px 0 #323746;
  padding-bottom: 47px;
}

.title_portfolio {
  font: 30px 'Lato Regular', sans-serif;
  font-weight: 900;
  padding-top: 60px;
  letter-spacing: 0.02em;
  margin: 0;
  color: #666d89;
}

.text_portfolio {
  font: 18px 'Lato Light', sans-serif;
  letter-spacing: -0.012em;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 17px;
  color: #767e9e;
}

.portfolio a {
  color: #666d89;
  border-radius: 6px;
  border: 1px solid #666d89;
  font: 12px 'Lato Light', sans-serif;
  text-decoration: none;
  height: 20px;
  padding: 3px 7px;
  margin-right: 4px;
}

.portfolio a:hover {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

li {
  list-style: none;
}

.image_portfolio {
  margin-top: 21px;
  max-height: 605px;
  display: grid;
  gap: 16px 0;
  grid-template-columns: repeat(4, 240px);
  padding-left: 0;
  overflow: hidden;
}

/* about us block */

.about_us {
  padding: 0 40px;
  background: #f2f2f2;
  box-shadow: 0 6px 0 #ffffff;
  margin-top: -24px;
  padding-bottom: 47px;

}

.title_about_us {
  font: 30px 'Lato Black', sans-serif;
  color: #666d89;
  padding-top: 59px;

}

.text_about_us {
  font: 18px 'Lato Light', sans-serif;
  line-height: 30px;
  color: #767e9e;
  margin-top: -12px;
  letter-spacing: -0.012em;
  text-align: justify;
}

.about_persons {
  margin-top: 45px;
  padding-left: 0;
  display: grid;
  gap: 0 20px;
  grid-template-columns: repeat(3, 1fr);
}

.person_title {
  font: 18px 'Lato Regular', sans-serif;
  font-weight: 900;
  color: #666d89;
  margin-top: 11px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.015em;
}

.person_text {
  font: 12px 'Lato Regular', sans-serif;
  color: #adb1c2;
  text-align: justify;
  margin-top: -10px;
  line-height: 21px;
}

.person_links {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  margin-top: 24px;
}