@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('assets/lato-v16-latin-regular.woff2') format('woff2'),
    url('assets/lato-v16-latin-regular.woff') format('woff'),
}

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
    url('assets/lato-v16-latin-300.woff2') format('woff2'),
    url('assets/lato-v16-latin-300.woff') format('woff'),
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

body {
  margin-top: 0px;
}

ul {
  list-style: none;
}

.contact {
  padding: 0 40px;
  background: #f06c64;
  color: #f0d8d9;
  margin-top: -19px;
  box-shadow: 0 6px 0 #ea676b;
  margin-bottom: 6px;
}

.contact_title {
  font: 30px 'Lato Regular', sans-serif;
  font-weight: 900;
  padding-top: 58px;
  letter-spacing: 0.01em;
}

.contact_text {
  font: 18px 'Lato Light', sans-serif;
  line-height: 30px;
  padding-bottom: 20px;
  margin: 0;
  margin-top: -6px;
  letter-spacing: -0.012em;
}

.contact_form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 26px;
}

form {
  display: grid;
  gap: 16px;
}

input, textarea{
  background: #d6564f;
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 11px 15px;
  margin-right: 8px;
}

input[type="button"] {
  background: #d6564f;
  color: #f0d8d9;
  cursor: pointer;
  width: 100px;
  padding: 10px;
  margin-bottom: 17px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
  color: #e87675; 
  font: 12px 'Lato Light', sans-serif;
}

input::-moz-placeholder, textarea::-moz-placeholder { 
  color: #e87675; 
  font: 12px 'Lato Light', sans-serif;
}

.contact_info {
  margin-top: -23px;
  margin-left: 13px;
}

.contact_info a {
  text-decoration: none;
  color: #f0d8d9;
}

.contact_info_title {
  font: 18px 'Lato Regular', sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: -3px;
}

.contact_info_text {
  font: 12px 'Lato Light', sans-serif;
  line-height: 22px;
  text-align: justify;
  letter-spacing: -0.02em;
}

.contact_item {
  font: 12px 'Lato Light', sans-serif;
  padding-top: 11px;
  margin-left: -24px;
}

.contact_item li {
  padding-bottom: 6px;
  position: relative;
  padding-left: 8px;
}

.img_location {
  position: absolute;
  left: -12px;
  top: 2px;
}

.img_phone {
  position: absolute;
  left: -14px;
  top: 2px;
}

.img_mail {
  position: absolute;
  left: -15px;
  top: 6px;
}

footer {
  padding: 0 40px;
  background: #2d303a;
  color: #575d74;
  display: grid;
  grid-template-columns: 4fr 1fr;

}

.footer_copy {
  padding-top: 18px;
  padding-bottom: 32px;
  font: 12px 'Lato Light', sans-serif;
  margin-bottom: -1px;
}

.footer_links {
  display: grid;
  gap: 0 10px;
  grid-template-columns: repeat(4, 30px);
  padding-top: 6px;
  padding-left: 36px;
  margin-bottom: -1px;
}